<div id="project-show-container" data-project-id="<%= @project.id %>">
  <p id="notice"><%= notice %></p>
  <p>
    <strong>Name:</strong>
    <%= @project.name %>
  </p>
  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Back', projects_path %>
  <hr>
  <h3>Create Task</h3>
  <%= form_for(@task, url: project_tasks_path(@project)) do |f| %>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.select :status, ["unstarted", "started", "finished"] %>
    </div>
    <%= f.hidden_field :project_id, value: @project.id %>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
  <br>
  <br>
  <button id="view-tasks-button" class="btn">View Tasks</button>
  <ul id="tasks-container"></ul>
</div>
